<nav>
  <h1>Build Checklist</h1>
  <h2>for Kerbal Space Program</h2>
  <hr/>
  <ul>
  <p>I wanted a reference sheet for all the important parts of my rocket that I often forget.</p>
  <p>So I built this.</p>

  <iframe class="shopify-widget" frameborder="0" scrolling="no" src="http://widgets.shopifyapps.com/products/ksp-build-checklist?shop=the-noble-pony.myshopify.com&style=buy_now&product-variant-id=391390570&size=large&text=Buy+Now+for+%2410&destination=cart" width="150" height="29"></iframe>
  
  <hr />
  <h3>Sources:</h3>
  <ul>
    <li><a href="https://github.com/davefp/ksp-checklist/releases/download/v2.1/ksp-checklist.svg">svg</a></li>
    <li><a href="https://github.com/davefp/ksp-checklist/releases/download/v2.1/ksp-checklist-print.pdf">pdf</a></li>
  </ul>
  <hr />
  <h3>License:</h3>
  <p>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" /></a>
  </p>

  <hr />
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>